name: Publish

on:
  pull_request:
    types: [closed]
    branches:
      - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Publish to npm and create release
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          ref: master
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      - name: Publish
        run: npm publish --access public

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=$(npm pkg get version | tr -d '"')
          TARBALL=$(npm pack)
          mv "$TARBALL" "package.tgz"
          gh release create "v$VERSION" ./package.tgz --title="v$VERSION" --generate-notes
