name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  packages: write

jobs:
  publish:
    name: Publish to npm and create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org

      - name: Yarn cache directory
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install
        working-directory: ${{ inputs.workingDirectory }}
        run: yarn install --inline-builds

      - name: Publish
        run: yarn workspaces foreach --all --no-private -vp --jobs=2 npm publish --access public

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=$(npm pkg get version | tr -d '"')
          TARBALL=$(npm pack)
          mv "$TARBALL" "package.tgz"
          gh release create "v$VERSION" ./package.tgz --title="v$VERSION" --generate-notes
